{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "brace-style": ["error", "stroustrup"],
    "curly": ["error", "multi-or-nest"],
    "function-paren-newline": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "react/sort-comp": 0,
    "semi": [2, "never"]
  }
}

